.menu {
    background-color: #333; 
    padding: 15px; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
    color: white; 
    height: 100vh;
}
.menu h2 {
    text-align: center; 
}

li {
    padding: 100px 0; 
}

a:hover {
    background-color: #555;
    border-radius: 5px;
}

.title-menu{
    text-align: center;
    padding-top: 30%;
}